.container {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;     
  height: 100vh;   
  background: #FFFFFF;
  border: 1px #E7E7E7;
  color: #000000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarText{
  color: #000000;
  font-weight: 400;
  display: inline-flex;
  flex-direction: row;
  align-items: center; 
  gap: 10px;
      font-size: 24px;
  
}
.nav button:hover{
  background-color: #EAF5F9
}
.logo {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 30px;
}
.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.nav a {
  color: #000000;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  font-size: 24px;
  line-height: 36px;
}
.nav a:hover,
.nav .active {
  color: #000000;
  font-weight: 400;
}
.logout {
  display: flex;
  align-items: center; 
  gap: 8px; 
  padding: 8px 12px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  margin-top: 20px;
}
.logout:hover {
  color: rgb(0, 0, 0);
  background-color: #EAF5F9;
}


.main {
  flex: 1;
  padding: 30px;
  background: #FBFBFB;
  margin-left: 240px;  
  padding: 2rem;
  overflow-y: auto;
}
.header {
  font-size: 24px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem;
  justify-content: center;
}

.dashboardCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  flex: 1 1 250px;     
  max-width: 350px;     
  min-width: 200px;  
  max-height: 234px;    
  aspect-ratio: 1 / 1; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  gap: 0.5rem;
  text-align: center;
  font-size: clamp(16px, 2vw, 24px);
}

.dashboardCard h2 {
  font-size: clamp(32px, 5vw, 60px);
  margin: 0;
  line-height: 1.1;
}


.dashboardCardBlue {
  background-color: #0070A4;
  color: white;
}
.dashboardCardGreen {
  background-color: #00A58B;
  color: white;
}
.dashboardCardRed {
  background-color: #E84E4E; 
  color: white;
}

.blue {
  background: #3498db;
}
.green {
  background: #1abc9c;
}
.red {
  background: #e74c3c;
}
.card p {
  margin: 0;
}
.card h2 {
  margin: 5px 0 0;
  font-size: 28px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.tabs button {
  padding: 8px 16px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 4px;
}
.tabs button:hover {
  background: #ccc;
}
.activeTab {
  background: #3498db;
  color: white;
}

.concerts {

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.concertCard {
  width: 100%;         
  max-width: 1120px;  
  height: 375px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin: 0 auto;     
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.concertTitle {
  margin: 0 0 10px;
  color: #3498db;
}
.concertFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}
.deleteBtnWrapper {
  display: flex;
  justify-content: flex-end;  
  margin-top: 8px;
  gap: 6px;
}

.delete {
  display: inline-flex;
  flex-direction: row;
  align-items: center;   
  justify-content: center;  
  background: #e74c3c;
  width: 160px;
  height: 60px;
  font-size: 24px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  border: none;
  padding: 6px 12px;
}

.delete:hover {
  background: #963f37;
}

.cancel {
  background: #F96464;
  width: 160px;
  height: 60px;
  font-size: 24px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  border: none;
  padding: 6px 12px;
}
.cancel:hover {
  background: #963f37;
}

.reserve {
  background: #1692EC;
  width: 160px;
  height: 60px;
  font-size: 24px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  border: none;
  padding: 6px 12px;
}
.reserve:hover {
  background: #1138b9;
}

.disabled {
  background-color: #ccc !important;
  color: #666 !important;
  cursor: not-allowed !important;
}

@media (max-width: 768px) {
  .cancel,
  .reserve,
  .delete {
    width: 40%;      
    height: auto;      
    font-size: 16px; 
    padding: 0.5rem;   
  }
  .delete{
    width: 100%;
  }

}


.formCard {
    padding: 2rem;
  border-radius: 8px;
  height: 545px;
  background-color: #fff;
  border: 1px solid #e0e0e0; 
}

.formTitle {
    line-clamp: 1;   
  overflow: hidden;        
  text-overflow: ellipsis; 
  max-width: 100%;  
  font-size: 40px;
  font-weight: 700;
  color: #1692EC;
  margin-bottom: 1rem;
}
.formCard hr {
  border: none;
  height: 1px;
  background-color: #C2C2C2;
  margin-bottom: 2rem;
}
.formCard label {
  font-size: 24px;
  line-height: 36px;
}
.formGrid {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  display: flex;

  flex-wrap: wrap;
}

.formGroup {
  flex: 1;         
  min-width: 0;     
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.formGroup input{
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  width: 100%;
  font-size: 1rem;
}
.formGroup textarea {
    margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 102px;       
  resize: vertical;    
  min-height: 6rem;    
  width: 100%;
  box-sizing: border-box; 
}


.formActions {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}

.formActions button {
  background-color: #1692EC;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 24px;
  border-radius: 0.25rem;
  display: flex;            
  justify-content: center;
  align-items: center;  
  gap: 0.5rem;
  cursor: pointer;
  width: 160px;
  text-align: center;
  height: 60px;
}

.formActions button:hover {
  background-color: #1e40af;
}

.form-group input,
.form-group textarea {
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.form-group textarea {
  resize: vertical;
  min-height: 6rem;
}

/* Button */
.form-actions {
  text-align: right;
  margin-top: 1.5rem;
}

.form-actions button {
  background-color: #2563eb;
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.form-actions button:hover {
  background-color: #1e40af;
}
.sidebar-container {
  width: 240px;
  height: 108px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
}
.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper input {
  width: 100%;
  padding-right: 40px; 
  box-sizing: border-box;
}


.inputIcon {
  position: absolute;
  right: 10px;
  pointer-events: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



.inputIcon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%); 
  pointer-events: none; 
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
    .sidebar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-bottom: 0px
}
  .createBtn{
  width: 100%;     
    height: auto;    
    font-size: 16px;  
    padding: 0.5rem;
  }
  .formCard {
  height: 150%;
}
  .sidebarText span{
    display: none;
  }
  .nav{
    flex-direction: row;
    padding: 10%;
    justify-content: space-between;
  }
  
}


/* CSS */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 246px;
  font-size: 14px;
  background-color: #d4edda;
  color: #155724;
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  animation: slideIn 0.3s ease, fadeOut 0.5s ease 4.5s forwards;
}


.toastSuccess {
 background-color: #D0E7D2; 
  color: #000000; 
}

.toastError {
  background-color: #ffced3;
  color: #000000;
}


@keyframes slideIn {
  from { opacity: 0; transform: translateX(100%); }
  to { opacity: 1; transform: translateX(0); }
}


.toastIcon {
  font-size: 20px;
}

.toastClose {
  margin-left: auto;
  cursor: pointer;
}
.historyPage {
  padding: 20px;
}

.historyTable {
  width: 100%; 
  margin: 0 auto;    
  border-collapse: collapse;
  background: white;
}


.historyTable th,
.historyTable td {
  border: 1px solid #5B5B5B;
  padding: 8px;
  text-align: left;
}

.historyTable th {
  background-color: white;
}
.historyTable th:nth-child(1),
.historyTable td:nth-child(1) {
  height: 44px;
  width: 25%;
}

.historyTable th:nth-child(2),
.historyTable td:nth-child(2) {
  height: 44px;
  width: 25%;
}

.historyTable th:nth-child(3),
.historyTable td:nth-child(3) {
  height: 44px;
  width: 25%;
}

.historyTable th:nth-child(4),
.historyTable td:nth-child(4) {
  height: 44px;
  width: 25%;
}
@keyframes slideIn {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}


/* Desktop */
.container {
  display: flex;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 180px;
  }
  .header {
    font-size: 20px;
  }
   .main {
    margin-left: 180px; 
    padding: 1.5rem;
  }
}
.tabHeader {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ปุ่ม Tab ปกติ */
.tabHeader button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 24px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 0.2s;
  white-space: nowrap;
}

/* Tab active */
.tabHeader button.activeTab {
  border-bottom-color: #1692EC;
  color: #1692EC;
  font-weight: 600;
}

/* Hover effect */
.tabHeader button:not(.activeTab):hover {
  color: #1692EC;
}
.tabHeader button:not(.activeTab):hover {
  color: #1692EC;
}
/* Mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .main {
    margin-left: 0;    
    padding: 1rem;
  }
  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;  
    height: auto;        
    padding: 10px 15px;
    box-sizing: border-box;
  }
  
    .sidebar-text {
    justify-content: center; 
  }

  .sidebar-text span, 
  .sidebar-text :not(img) { 
    display: none; 
  }

  .logout {
    justify-content: center;
  }

  .logout :not(img) {
    display: none;
  }
  .dashboardCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
  max-height: 40%;
  border-radius: 8px;
  flex: 1 1 250px;      
  max-width: 100%;       
  aspect-ratio: 1 / 1;    
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  gap: 0.5rem;
  text-align: center;
  font-size: clamp(16px, 2vw, 24px); 
}

  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;     
    gap: 10px;
  }

  .logout {
    margin-top: 0;
  }

  .main {
    flex: 1;
    padding: 15px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .concertFooter {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .formGrid {
    flex-direction: column;
  }
  .formGroup {
    width: 100%;
  }
}

.concertList {
  padding: 1rem;
}

.concertCard {
  border: 1px solid #C2C2C2;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}
.concertCard h3{
  font-size: 32;
  color: #1692EC;

}
.concertCard hr{
  border: none;
  background-color: #C2C2C2;

}
.concertDescription {
  display: -webkit-box;      
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;      
  display: box;
  box-orient: vertical;

  line-clamp: 5;              
  
  overflow: hidden;
  text-overflow: ellipsis;
}
.concertCardSeat{
  display: flex;
  align-items: center;
  gap: 8px; 
  font-size: 24px;
}
.concertName {
  color: #1d4ed8;
  font-weight: bold;
   white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis;
}
.concertCardGrid{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 8px;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modalContent {
  background-color: #fff;
  padding: 1.5rem;
  margin-top: 10px;
  border-radius: 8px;
  width: 422px;
  max-width: 90%; 
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease, opacity 0.2s ease;

}

.modalTop { 
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalTop p{
    max-width: 400px;       
  white-space: nowrap;    
  overflow: hidden;      
  text-overflow: ellipsis; 
  line-height: 1.4;
  text-align: center;
}
.modalTop a{
    max-width: 400px;      
  white-space: nowrap;   
  overflow: hidden;       
  text-overflow: ellipsis; 
  line-height: 1.4;
  text-align: center;
}

.modalGroup {
   flex-direction: column;
}
.modalGroup a{
  max-width: 300px;       
  white-space: nowrap;   
  overflow: hidden;      
  text-overflow: ellipsis; 
  line-height: 1.4;

    font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.modalButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px; 
}

.modalImage {
  width: 50px;
  height: 50px;
}

.modalText {
  font-size: 20px;
  font-weight: 700;
}


.modalCancel, .modalConfirm {
  height: 48;
  width: 179px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.modalCancel {
  border: 1px solid #ccc;
  background: #fff;
}

.modalConfirm {
  border: none;
  background-color: #ef4444;
  color: #fff;
}

@media (max-width: 480px) {
  .modalContent {
    width: 95%; 
    height: auto;
    padding: 1rem;
  }

  .modalButtons {
    flex-direction: column;
    gap: 10px;
  }

  .modalCancel, .modalConfirm {
    width: 100%;
  }

  .modalText {
    font-size: 18px;
  }

  .modalImage {
    width: 40px;
    height: 40px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.pagination button:hover:not(:disabled) {
  background-color: #5f3e3e;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination span {
  font-weight: 500;
}
