
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

body {
  background-color: #f8f9fa;
  color: #1f2937;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #111827;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.8;
}
button {
  transition: all 0.3s ease;
}
